html,
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #000000;
  height: 100%;
  width: 100%;
  min-width: 350px;
}

.py-3 {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

main.py-3 {
  padding: 0;
  margin: 0;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* .py-3 {
  background-color: white;
} */

button {
  cursor: pointer;
}

.center {
  display: center;
  justify-content: center;
}
main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

[class^="cm-"],
[class*=" cm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "cm-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-smart-food-1:before {
  content: "\e950";
}
.cm-smart-food-2:before {
  content: "\e951";
}
.cm-smart-food-3:before {
  content: "\e952";
}
.cm-premium-HRreport:before {
  content: "\e925";
}

.pt-3,
.py-3 {
  padding-top: 0;
}
